html(lang="en")
  head
    title Visit www.pixelrocket.store to learn how to become a frontend web developer
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    link(rel="stylesheet" href="https://api.fontshare.com/v2/css?f[]=sentient@400,500&display=swap")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap")
    link(rel="stylesheet" href="css/bootstrap/bootstrap.min.css")
    link(rel="icon" type="image/png" sizes="32x32" href="favicon.png")
  body
    div(class="")
      div
        div(class="py-2 text-center bg-primary text-white")
          p(class="m-0")
            | Want to learn how to build templates like this one? Visit 
            a(class="text-light" href="https://www.pixelrocket.store") www.pixelrocket.store
      div
        div
          nav(class="navbar navbar-expand-lg navbar-light")
            div(class="container")
              a(class="navbar-brand" href="index.html")
                img(class="img-fluid" src="images/logo.svg" alt="")
              button(class="d-lg-none navbar-burger btn px-0 rounded-pill" style="border: none;" type="button")
                svg(class="text-primary" width="51" height="51" viewbox="0 0 56 56" fill="none" xmlns="http://www.w3.org/2000/svg")
                  rect(width="56" height="56" rx="28" fill="currentColor")
                  path(d="M37 32H19M37 24H19" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round")
              div(class="collapse navbar-collapse")
                ul(class="navbar-nav ms-lg-auto me-4")
                  li(class="nav-item me-4")
                    a(class="nav-link py-0" href="about.html") About
                  li(class="nav-item me-4")
                    a(class="nav-link py-0" href="pricing.html") Pricing
                  li(class="nav-item me-4")
                    a(class="nav-link py-0" href="blog.html") Blog
                  li(class="nav-item me-4")
                    a(class="nav-link py-0" href="contact.html") Contact
                  li(class="nav-item")
                    a(class="nav-link py-0 border-start" href="login.html") Customer Login
                div
                  a(class="btn btn-primary py-3" href="register.html") Try 14 Days Free Trial
          div(class="d-none navbar-menu position-fixed top-0 start-0 bottom-0 w-75 mw-xs" style="z-index: 9999;")
            div(class="navbar-close navbar-backdrop position-fixed top-0 start-0 end-0 bottom-0 bg-dark" style="opacity: 75%;")
            nav(class="position-relative h-100 w-100 d-flex flex-column justify-content-between py-8 px-8 bg-white overflow-auto")
              div(class="d-flex align-items-center")
                a(class="me-auto h4 mb-0 text-decoration-none" href="#")
                  img(class="img-fluid" src="images/logo.svg" alt="")
                |                 
                a(class="navbar-close" href="#")
                  svg(width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg")
                    path(d="M6 18L18 6M6 6L18 18" stroke="#111827" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
              div(class="py-12")
                ul(class="nav flex-column")
                  li(class="nav-item mb-4")
                    a(class="nav-link py-0" href="about.html") About
                  li(class="nav-item mb-4")
                    a(class="nav-link py-0" href="pricing.html") Pricing
                  li(class="nav-item mb-4")
                    a(class="nav-link py-0" href="blog.html") Blog
                  li(class="nav-item mb-4")
                    a(class="nav-link py-0" href="contact.html") Contact
                  li(class="nav-item pt-4 border-top")
                    a(class="nav-link text-dark" href="login.html") Customer Login
              div
                a(class="btn btn-primary d-block" href="register.html") Try 14 Days Free Trial
      section(class="py-12 py-md-24 py-lg-40 bg-light")
        div(class="container")
          div(class="mw-md mx-auto mw-lg-none")
            div(class="row")
              div(class="col-12 col-lg-4 mb-20 mb-sm-32 mb-lg-0")
                div(class="p-10 bg-white rounded-3")
                  div(class="mb-8 pb-8 border-bottom text-center")
                    span(class="d-block mb-8 fs-4 fw-semibold") Basic
                    div(class="d-flex justify-content-center align-items-end")
                      span(class="fs-4 fw-semibold") $
                      |                       
                      span(class="h1 mb-n2") 29
                    span per user, per month
                  div(class="border-bottom pb-8 mb-8 text-center")
                    p(class="mb-0") Essential features for beginners. Get started with ease
                  div
                    ul(class="list-unstyled mb-8")
                      li(class="d-flex mb-2 align-items-center")
                        svg(width="20" height="20" viewbox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg")
                          path(d="M4.16797 10.8281L7.5013 14.1615L15.8346 5.82812" stroke="#5E27FF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                        span(class="ms-2") Basic Features
                      li(class="d-flex mb-2 align-items-center")
                        svg(width="20" height="20" viewbox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg")
                          path(d="M4.16797 10.8281L7.5013 14.1615L15.8346 5.82812" stroke="#5E27FF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                        span(class="ms-2") 1 User
                      li(class="d-flex mb-2 align-items-center")
                        svg(width="20" height="20" viewbox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg")
                          path(d="M4.16797 10.8281L7.5013 14.1615L15.8346 5.82812" stroke="#5E27FF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                        span(class="ms-2") 2GB Free Access
                      li(class="d-flex align-items-center")
                        svg(width="20" height="20" viewbox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg")
                          path(d="M4.16797 10.8281L7.5013 14.1615L15.8346 5.82812" stroke="#5E27FF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                        span(class="ms-2") Limited Support
                    a(class="btn w-100 btn-outline-dark" href="#") Try 14 Days Free Trial
              div(class="col-12 col-lg-4 mb-8 mb-lg-0")
                div(class="position-relative")
                  img(class="d-none d-sm-block position-absolute bottom-100 mb-7 start-50 ms-10" style="z-index: 1;" src="hexsmith-assets/images/pricing/best-value.png" alt="")
                  div(class="position-absolute bottom-100 start-0 mb-n5 w-100 pt-1 pb-6 px-4 rounded-3 text-center overflow-hidden")
                    img(class="position-absolute top-0 start-0 w-100 h-100" style="transform: scale(1.1);" src="hexsmith-assets/images/pricing/gradient.jpg" alt="")
                    span(class="position-relative fw-semibold text-white") Recommended
                  div(class="position-relative p-10 bg-white rounded-3")
                    div(class="mb-8 pb-8 border-bottom text-center")
                      span(class="d-block mb-8 fs-4 fw-semibold") Professional
                      div(class="d-flex justify-content-center align-items-end")
                        span(class="fs-4 fw-semibold") $
                        |                         
                        span(class="h1 mb-n2") 49
                      span per user, per month
                    div(class="border-bottom pb-8 mb-8 text-center")
                      p(class="mb-0") Essential features for beginners. Get started with ease
                    div
                      ul(class="list-unstyled mb-8")
                        li(class="d-flex mb-2 align-items-center")
                          svg(width="20" height="20" viewbox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg")
                            path(d="M4.16797 10.8281L7.5013 14.1615L15.8346 5.82812" stroke="#5E27FF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                          span(class="ms-2") Basic Features
                        li(class="d-flex mb-2 align-items-center")
                          svg(width="20" height="20" viewbox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg")
                            path(d="M4.16797 10.8281L7.5013 14.1615L15.8346 5.82812" stroke="#5E27FF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                          span(class="ms-2") 1 User
                        li(class="d-flex mb-2 align-items-center")
                          svg(width="20" height="20" viewbox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg")
                            path(d="M4.16797 10.8281L7.5013 14.1615L15.8346 5.82812" stroke="#5E27FF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                          span(class="ms-2") 2GB Free Access
                        li(class="d-flex align-items-center")
                          svg(width="20" height="20" viewbox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg")
                            path(d="M4.16797 10.8281L7.5013 14.1615L15.8346 5.82812" stroke="#5E27FF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                          span(class="ms-2") Limited Support
                      a(class="btn btn-primary w-100" href="#") Try 14 Days Free Trial
              div(class="col-12 col-lg-4")
                div(class="p-10 bg-white rounded-3")
                  div(class="mb-8 pb-8 border-bottom text-center")
                    span(class="d-block mb-8 fs-4 fw-semibold") Heavy
                    div(class="d-flex justify-content-center align-items-end")
                      span(class="fs-4 fw-semibold") $
                      |                       
                      span(class="h1 mb-n2") 99
                    span per user, per month
                  div(class="border-bottom pb-8 mb-8 text-center")
                    p(class="mb-0") Essential features for beginners. Get started with ease
                  div
                    ul(class="list-unstyled mb-8")
                      li(class="d-flex mb-2 align-items-center")
                        svg(width="20" height="20" viewbox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg")
                          path(d="M4.16797 10.8281L7.5013 14.1615L15.8346 5.82812" stroke="#5E27FF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                        span(class="ms-2") Basic Features
                      li(class="d-flex mb-2 align-items-center")
                        svg(width="20" height="20" viewbox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg")
                          path(d="M4.16797 10.8281L7.5013 14.1615L15.8346 5.82812" stroke="#5E27FF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                        span(class="ms-2") 1 User
                      li(class="d-flex mb-2 align-items-center")
                        svg(width="20" height="20" viewbox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg")
                          path(d="M4.16797 10.8281L7.5013 14.1615L15.8346 5.82812" stroke="#5E27FF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                        span(class="ms-2") 2GB Free Access
                      li(class="d-flex align-items-center")
                        svg(width="20" height="20" viewbox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg")
                          path(d="M4.16797 10.8281L7.5013 14.1615L15.8346 5.82812" stroke="#5E27FF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                        span(class="ms-2") Limited Support
                    a(class="btn w-100 btn-outline-dark" href="#") Try 14 Days Free Trial
      section(class="py-12 py-lg-24")
        div(class="container")
          div(class="mw-2xl mx-auto mb-24 text-center")
            h2(class="mb-16") Common Questions
            div(class="mb-12")
              button(class="btn mb-n4 bg-white pt-7 pb-7 px-7 border text-start fw-normal d-block w-100 position-relative" style="z-index: 5;")
                span(class="fw-semibold") Can I switch plans?
                p(class="d-none text-secondary-dark mt-5 mb-0 pe-8 lh-sm") Yes, Stripe allows you to opt for a payout whenever you want. You can also opt for a scheduled payout every month.
              button(class="btn mb-n4 bg-white pt-11 pb-7 px-7 border text-start fw-normal d-block w-100 position-relative" style="z-index: 4;")
                span(class="fw-semibold") Is there an education discount?
                p(class="text-secondary-dark mt-5 mb-0 pe-8 lh-sm") Yes, Stripe allows you to opt for a payout whenever you want. You can also opt for a scheduled payout every month.
              button(class="btn mb-n4 bg-white pt-11 pb-7 px-7 border text-start fw-normal d-block w-100 position-relative" style="z-index: 3;")
                span(class="fw-semibold") How are payments processed?
                p(class="d-none text-secondary-dark mt-5 mb-0 pe-8 lh-sm") Yes, Stripe allows you to opt for a payout whenever you want. You can also opt for a scheduled payout every month.
              button(class="btn mb-n4 bg-white pt-11 pb-7 px-7 border text-start fw-normal d-block w-100 position-relative" style="z-index: 2;")
                span(class="fw-semibold") How do I get support?
                p(class="d-none text-secondary-dark mt-5 mb-0 pe-8 lh-sm") Yes, Stripe allows you to opt for a payout whenever you want. You can also opt for a scheduled payout every month.
              button(class="btn bg-white pt-11 pb-7 px-7 border text-start fw-normal d-block w-100 position-relative" style="z-index: 1;")
                span(class="fw-semibold") Do I need to upgrade?
                p(class="d-none text-secondary-dark mt-5 mb-0 pe-8 lh-sm") Yes, Stripe allows you to opt for a payout whenever you want. You can also opt for a scheduled payout every month.
            p(class="text-secondary-dark")
              span If you have any further questions reach out to our team
              |               
              a(class="d-inline-block text-primary" href="#") support@mail.com
      section(class="py-12 py-lg-24 bg-light")
        div(class="container")
          div(class="d-md-flex mw-xl mx-auto")
            div(class="mb-6 mb-md-0 me-md-8")
              img(src="hexsmith-assets/images/testimonials/avatar-xl.png" alt="")
            div
              p(class="mb-8 fs-4 fw-semibold")
                span "Since I started using
                |                 
                a(class="d-inline-block" href="#") @Hexsmith
                |                 
                span , our result has skyrocketed! The user interface is so intuitive and easy to navigate, and the features are exactly what I need."
              div
                span(class="d-block fw-semibold mb-n2") Cameron Price
                |                 
                span(class="fs-6 text-secondary-dark fw-medium") Art Director, Company
      section(class="py-12 py-lg-24 bg-dark")
        div(class="container")
          div(class="position-relative px-8 px-md-11 py-10 mb-16 bg-white rounded-4 overflow-hidden")
            img(class="position-absolute top-0 start-0 w-100 h-100" src="hexsmith-assets/images/gradient.png" alt="")
            div(class="position-relative row align-items-center")
              div(class="col-12 col-lg-7 mb-10 mb-lg-0")
                h2(class="text-white mb-0") Want to learn how to build templates like this one?
              div(class="col-12 col-lg-5 text-lg-end")
                a(class="btn btn-dark" href="https://www.pixelrocket.store") Visit www.pixelrocket.store
          div(class="row mb-n12")
            div(class="col-12 col-sm-6 col-lg-3 mb-12")
              div
                span(class="d-block fw-semibold text-white mb-7") Company
                ul(class="list-unstyled mb-0")
                  li(class="mb-4")
                    a(class="d-inline-block text-white" href="#") About
                  li(class="mb-4")
                    a(class="d-inline-block text-white" href="#") Features
                  li(class="mb-4")
                    a(class="d-inline-block text-white" href="#") Works
                  li
                    a(class="d-inline-block text-white" href="#") Career
            div(class="col-12 col-sm-6 col-lg-3 mb-12")
              div
                span(class="d-block fw-semibold text-white mb-7") Help
                ul(class="list-unstyled mb-0")
                  li(class="mb-4")
                    a(class="d-inline-block text-white" href="#") Customer Support
                  li(class="mb-4")
                    a(class="d-inline-block text-white" href="#") Delivery Details
                  li(class="mb-4")
                    a(class="d-inline-block text-white" href="#") Terms & Conditions
                  li
                    a(class="d-inline-block text-white" href="#") Privacy Policy
            div(class="col-12 col-sm-6 col-lg-3 mb-12")
              div
                span(class="d-block fw-semibold text-white mb-7") Resources
                ul(class="list-unstyled mb-0")
                  li(class="mb-4")
                    a(class="d-inline-block text-white" href="#") Free eBooks
                  li(class="mb-4")
                    a(class="d-inline-block text-white" href="#") Development Tutorial
                  li(class="mb-4")
                    a(class="d-inline-block text-white" href="#") How to - Blog
                  li
                    a(class="d-inline-block text-white" href="#") Youtube Playlist
            div(class="col-12 col-sm-6 col-lg-3 mb-12")
              div
                span(class="d-block fw-semibold text-white mb-7") Links
                ul(class="list-unstyled mb-0")
                  li(class="mb-4")
                    a(class="d-inline-block text-white" href="#") Free eBooks
                  li(class="mb-4")
                    a(class="d-inline-block text-white" href="#") Development Tutorial
                  li(class="mb-4")
                    a(class="d-inline-block text-white" href="#") How to - Blog
                  li
                    a(class="d-inline-block text-white" href="#") Youtube Playlist
    script(src="js/bootstrap/bootstrap.bundle.min.js")
    script(src="js/main.js")
